
<div class="app__contents newRun">
  <div class="container">
    <form class="new-run" {{action "addRun" on="submit"}}>
    <h1 class="newTitle">New Session</h1>
    {{input class="new-input" type="text" placeholder="Workout Time" value=time}}
    {{input class="new-input" type="text" placeholder="Workout Date" value=date}}
    {{input class="new-input" type="text" placeholder="Workout Notes" value=notes}}

    <div class="edit-btns">
      {{#link-to 'index'}}
      <button class="newBtn-cancel" type="button" name="button">Back</button>
      {{/link-to}}
      <button class="newBtn-submit" type="submit" name="button">Save</button>
    </div>
  </form>
  </div>
</div>
{{liquid-outlet}}
