<div class="app__contents">
  <div class="container">
    <div class="runInfo" {{action "runInfo" model}}>
      <h2 class="myRun">My Run</h2>

      <div class="runInfo-time">
        <p class="runInfo-date">{{ model.date }}</p>
        <p class="runInfo-time">{{ model.time }}</p>
      </div>
      <div class="run-notes">
        <p class="notes">{{ model.notes }}</p>
      </div>
    </div>
  </div>
</div>

  <div class="info-btn-container">
    {{#link-to 'index'}}
      <button class="infoBtn-back" type="button" name="button">Back</button>
    {{/link-to}}
    {{#link-to 'edit-run' model._id}}
      <button class="infoBtn-new" name="button">Edit</button>
    {{/link-to}}
  </div>



{{outlet}}
