<div class="app__contents">
  <div class="container">
    <div class="runInfo" {{action "runInfo" runs}}>
      <h2 class="myRun">My Run</h2>

      {{#each model as |runs|}}
        <div class="runInfo-time">
          <p class="runInfo-date">{{ runs.date }}</p>
          <p class="runInfo-time">{{ runs.time }}</p>
        </div>
        <div class="run-notes">
          <p class="notes">{{ runs.notes }}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>

  <div class="info-btn-container">
    {{#link-to 'index'}}
      <button class="infoBtn-back" type="button" name="button">Back</button>
    {{/link-to}}
    {{#link-to 'new-run'}}
      <button class="infoBtn-new" type="submit" name="button">Edit</button>
    {{/link-to}}
  </div>



{{outlet}}
